<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="server" type="System.Configuration.NameValueSectionHandler" />
    <section name="path" type="System.Configuration.NameValueSectionHandler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <connectionStrings configSource="Configuration\Connections.config"/>
  <server configSource="Configuration\Environment.config" />
  <path configSource="Configuration\Path.config" />

  <appSettings>
    <add key="log4net.Config" value="Configuration\Logger.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="log4net.Internal.Debug" value="False"/>    
    <add key="filename" value="UserData.xlsx" />        
  </appSettings>
</configuration>