<server>
    <add key="SoftUni" value="http://softuni.bg/" />
    <add key="DEV" value="http://www.demoqa.com/" />
    <add key="TOOLS" value="http://toolsqa.com/automation-practice-switch-windows/" />    
</server>
  
    <!-- -
<appSettings>
  <add key="[$ENV]" value="Dev"/>
</appSettings>


  - Configuration
  - Dev
  * AppSettings.config
  - QA
  * AppSettings.config
  - Prod
  * AppSettings.config
  
  <appSettings configSource="Configuration\Dev\AppSettings.config" />

  <appSettings configSource="Configuration\[$ENV]\AppSettings.config" />

  $ENV config should be defined in appSettings or if not possible other external source.
   <add key="[$ENV]" value="Dev"/>
   <app key="Env" value="Dev/UAT/Prod"/>
<!- -->
  <!-- -
  <connectionStrings>
    <add name="MyKey"
         connectionString="Data Source=localhost;
			         Initial Catalog=ABC;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
 
  <appSettings
       configSource="Environment.config" />
       <!- -->
  <!-- -
  <configSections>
    <section name="device" type="System.Configuration.SingleTagSectionHandler" />
    <section name="server" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <device id="1" description="petras room" location="" mall="" />
  <server url="http://example.com" />
  <!- -->

